<h1>Editing list</h1>

<%= error_messages_for :list %>

<% form_for(@list) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.collection_select 'user_id' , User.find(:all), 'id', 'email' %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @list %> |
<%= link_to 'Back', lists_path %>
