<h1>Editing task</h1>

<%= error_messages_for :task %>

<% form_for(@task) do |f| %>
  <p>
    <b>List</b><br />
    <%= f.text_field :list_id %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Completed at</b><br />
    <%= f.datetime_select :completed_at %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
