<span id="<%= dom_id(task) %>">
    <% form_for task, :html => { :class => "edit" } do |form| %>
    	<%= check_box_tag 'task[completed]', '1', task.completed? %>
		<%= form.text_field :name, :class => 'task_name' %>
		<%= form.select :worth, [1,2,5,10] %>
		<%= submit_tag 'Update' %>
  	<% end %>
</span>