<span id="<%= dom_id(task) %>">
	<% if task.complete == '1' -%>
	<form>
		<%= h task.name %> &nbsp; <%= task.worth %> &nbsp; <%= task.completed_at %> &nbsp; <%= link_to_remote( 'Remove', :url => task_path(task), :confirm => 'Are you sure?', :method => :delete ) %>
	</form>
	<% else -%>	
		<% form_for task do |f| -%>
			<%= f.check_box 'complete' unless task.complete == '1' %>
			<%= f.text_field 'name', :class => 'task_name' %>
			<%= f.select 'worth', (1..5).to_a %>
			<img alt="Spinner" class="spinner" id="spinner54180" src="/images/spinner.gif" style="display: none" />
		<% end -%>
		<%= observe_form "edit_task_#{task.id}", :url => "tasks/#{task.id}" %>
	<% end -%>
</span>