<p>
  <b>Project:</b>
  <%=h @task.project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Completed at:</b>
  <%=h @task.completed_at %>
</p>

<p>
  <b>Created at:</b>
  <%=h @task.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @task.updated_at %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
