<h1>Login</h1>

<h3>Returning Users</h3>
<p>Welcome back! We'll just need your email address and password and we'll load your account back up.</p>
<% form_tag(session_path) do -%>
	<!-- TODO - add OpenID Authentication -->
	<table>
		<tr>
			<th>Email Address:</th>
			<td><%= text_field_tag 'email', nil, :size => 40 %></td>
		</tr>
		<tr>
			<th>Password:</th>
			<td><%= password_field_tag 'password', nil, :size => 25 %></td>
		</tr>
		<tr>
			<th>Remember me:</th>
			<td><%= check_box_tag 'remember_me' %></td>
		</tr>
		<tr>
			<td colspan="2"><p /><%= submit_tag 'Log in' %></th>
		</tr>
	</table>
<% end -%>

<h3>First Time?</h3>
<p>If you don't already have an account the process is dead simple. Just head over <%= link_to "here", new_user_path %> to get started.</p>
