<p>
  <b>User:</b>
  <%=h @project.user.email %>
</p>

<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Created at:</b>
  <%=h @project.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @project.updated_at %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<p>Tasks</p>

<table>
	<tr>
		<th>Description</th>
		<th>Completed at</th>
	</tr>
	<%= render :partial => @project.tasks %>
</table>
